*{
  margin: 0%;
  padding: 0%;
}
html,body{
  width: 100%;
  height: 100%; 
}
#home{
  width: 100%;
  height: 100%; 
 background-color: antiquewhite;

 display: flex;
 justify-content: center;
 align-items: center;
}
h1{
  background-color: rebeccapurple;
  line-height: 3rem;
  text-align: center;
}

#box{

  height: 600px;
  width: 600px;
  /* display: flex;
  justify-content: center;
  align-items: center; */

}

#line1{
  height: 200px;
  width: 600px;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  


}
#line2{
  height: 200px;
  width: 600px;
  background-color:antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#line3{
  height: 200px;
  width: 600px;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
 
}


#a1{
  height: 200px;
  width: 200px;
  background-color: pink;
  border-radius: 10%;
}

#a2{
  height: 200px;
  width: 200px;
  background-color: black;
  border-radius: 10%;
}

#a3{
  height: 200px;
  width: 200px;
  background-color: orange;
  border-radius: 10%;
}

#b4{
  height: 200px;
  width: 200px;
  background-color: pink;
  border-radius: 10%;
}

#b5{
  height: 200px;
  width: 200px;
  background-color: black;
  border-radius: 10%;
}

#b6{
  height: 200px;
  width: 200px;
  background-color: orange;
  border-radius: 10%;
}

#c7{
  height: 200px;
  width: 200px;
  background-color: pink;
  border-radius: 10%;
}

#c8{
  height: 200px;
  width: 200px;
  background-color: black;
  border-radius: 10%;
}

#c9{
  height: 200px;
  width: 200px;
  background-color: orange;
  border-radius: 10%;
}

.r1{
 margin: 2px 2px 2px 2px;
}

.r2{
  margin: 4px 4px 4px 4px;
}
.r1:hover{
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.5s;

}